*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#000;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
.container{
    width: 520px;
    height: auto;
    min-height: 100px;
    margin:100px auto;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* border: 1px solid #0ef; */
    /* box-shadow: inset 0 0 0.5em 0 #0ef, 0 0 0.5em 0 #0ef ; */
    position: relative;

}

@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}



.container::after ,.container::before{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate:-50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: 3s;
    -webkit-animation: 3s spin linear infinite;
}
.container::before{
    filter: blur(1.5rem);
    -webkit-filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle:0deg
    }
    to{
        --angle:360deg
    }
}






.base h3 {
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    font-size: 34px;
    color: #0ef;


}
.block{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;

}
.title{
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: #0ef;

}
input[type=text]{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #333;
    padding: 12px;
    background-color: #111;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    font-size: 17px;
}
input[type=button]{
    width: 120px;
    margin-left: 40%;
    margin-top: 40px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #0ef;
    color: #111;
    border: 1px solid cyan;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 #0ef, 0 0 0.5em 0 #0ef ;

}
input[type=button]:hover{
    color: #fff;
    transition-property: box-shadow;
    transition-duration: .5s;
    box-shadow: inset 0 0 0.5em 0 #0ef, 0 0 0.5em 0 #0ef ;

}
#age{
    padding: 20px;
    text-align: center;
    overflow: hidden;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #fff;

}