*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #b12929;
}

.input-group{
    margin: 20px 0;
    position: relative;

}
.input-group label{
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218,223,223);
    padding: 0 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.input-group input{
    width: 360px;
    height: 60px;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid rgb(220,223,223);
    background: transparent;
    outline: none;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    background: #010031;
    font-size: 14px;
}


/* age */

.container{
    width: 400px;
    padding: 25px 35px;
    /*position: absolute;
    */top: 50%;
    left: 50%;
    height: auto;
    min-height: 100px;
    margin:100px auto;
    /* background-color:red; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /*border: 1px solid #0ef;
    *//*box-shadow: inset 0 0 0.5em 0 #0ef, 0 0 0.5em 0 #0ef ;
    */position: relative;
    background: #fff;
}

@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}



.container::after ,.container::before{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate:-50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: 3s;
    -webkit-animation: 3s spin linear infinite;
}
.container::before{
    filter: blur(1.5rem);
    -webkit-filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle:0deg
    }
    to{
        --angle:360deg
    }
}






.base h3 {
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    font-size: 34px;
    color: #0ef;


}
.block{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;

}
.container p{
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-align: left;
    font-weight: 600;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: blue;
    margin-bottom: 5px;

}
input[type=text]{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid black;
    padding: 12px;
    background-color: red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* color: black; */
    font-size: 17px;
}